.main-div{
    height: 550px;
    width: 100%;
    border-radius: 5px;
    border: 1px solid gray;
    margin-top: 20px;
}

.video-div {
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.2);    

}

.timer-p {
    margin-left: 30px;
    /* padding-top: 10px; */
}

.timer-span {
    margin-left: 30px;
    /* padding-top: 10px; */
}


/**  Css for progress bar  **/

@-webkit-keyframes f {
	0% {
		background-position: 40px 0;
	}

	to {
		background-position: 0 0;
	}
}

@keyframes f {
	0% {
		background-position: 40px 0;
	}

	to {
		background-position: 0 0;
	}
}


.loading-spinner {
    /* Add your styling here */
    text-align: center;
    font-size: 1.5rem;
    /* Add animation or spinner styles */
  }

  .progress {
	overflow: hidden;
	margin-top: 2em;
	height: 30px;
	border-radius: 4px;
	box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
}

.progress-bar {
	height: 100%;
	box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.15);
    width: 100%;
}


.progress-bar-striped,
.progress-striped .progress-bar {
	background-image: linear-gradient(
		45deg,
		hsla(0, 0%, 95%, 0.8) 25%,
		transparent 0,
		transparent 50%,
		hsla(0, 0%, 95%, 0.8) 0,
		hsla(0, 0%, 95%, 0.8) 75%,
		transparent 0,
		transparent
	);
	background-size: 40px 40px;
}

.progress-bar.active,
.progress.active .progress-bar {
	-webkit-animation: f 2s linear infinite;
	animation: f 2s linear infinite;
}


.progress-striped .progress-bar-info {
	background-image: linear-gradient(
		45deg,
		hsla(0, 0%, 95%, 0.8) 25%,
		transparent 0,
		transparent 50%,
		hsla(0, 0%, 95%, 0.8) 0,
		hsla(0, 0%, 95%, 0.8) 75%,
		transparent 0,
		transparent
	);
}

.info {
	color: #999;
}


